nav{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

nav a{
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
.active{
    background-color: black;
    color: white;
}