.card{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
img{
    width: 200px;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
p{
color: gray;
}